<div class="{{ ['sm:col-span-2' => video] | classes }}">
    <div>
        {{ if video }}
            <iframe
                src="{{ video | embed_url }}"
                class="aspect-video w-full"
            ></iframe>
        {{ else }}
            <div>
                <img
                    src="{{ featured_image:url }}"
                    alt="{{ featured_image:alt }}"
                    class="aspect-square"
                />
                {{ if music }}
                    <audio controls class="w-full">
                        <source src="{{ music:url }}" />
                    </audio>
                {{ /if }}
            </div>
        {{ /if }}
    </div>
    <div class="mt-2">
        <h3 class="text-gray-950">
            {{ title }}
        </h3>
        {{ if tags }}
            <p class="text-sm text-gray-700">
                {{ tags }}
                    {{ title }}{{ unless last }}, {{ /unless }}
                {{ /tags }}
            </p>
        {{ /if }}
    </div>
</div>
